@import 'variables';
.DayInfo {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.1;
  border-spacing: 1rem;

  // .Geolocation {
  //   position: absolute;
  //   top: 20%;
  //   right: 5%;

  // }

  td:first-child {
    text-align: right;
    font-weight: bolder;
  }

  td:last-child {
    text-align: left;
  }
}
