.Body {
  width: 1170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  // overflow-x: hidden;
  
  // padding:2%;
  // margin:3%;
  // width:90%;
  }

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 130px;
  margin-bottom: 130px;
  width: 100%;
}