$night_sky: #12256A;
$white: #FFFFFF;
$creamy: #FBF8E1;
$black: #000000;


@mixin text($font_family, $font_weight, $font_size, $line_height, $letter_spacing) {
  font-family: $font_family;
  font-weight: $font_weight;
  font-size: $font_size;
  line-height: $line_height;
  letter-spacing: $letter_spacing;
}
