@import "variables";

.KelvinOrCelsius {
  margin: 0;
  padding: 0;
  font-size: 58px;
  font-weight: bold;
  color: $night_sky;
  white-space: nowrap;
  
  select {
    background-color: transparent;
    font-size: 58px;
    font-weight: bold;
    color: $night_sky;
    white-space: nowrap;
    border: none;
    outline: none;
  }
}
