@import 'variables';

.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
  margin: 10px;
  padding: 15px 0;
  background: linear-gradient(180deg,$white 0%, rgba($white, 0) 100%), #FBF8E1;
  border-radius: 8px;

  .Day {
      width: 60%;
      margin: 0;
      margin-bottom: 9.19px;
      padding: 0;
      text-align: center;
      @include text(-apple-system, 700, 14px, 16.41px, 0.05em);
    }

    

         
    table {
      margin: 0;
      padding: 0;
      border-spacing: 5px 0;
      
       td {
        margin: 0;
        padding: 0;
       }  

        td:first-child {
          text-align: right;
        }
        
        td:last-child {
          text-align: left;
          font-weight: bold;
        }
    }
}

.Scale {
  transform: scale(1.23);
  margin-left: 20px;
  margin-right: 20px;
  z-index: 3;
}



