@import 'variables';

.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 27px;
  padding: 27px 5px;
  width: 152.02px;
  height: 207.23;
  background: linear-gradient(180deg,$white 0%, rgba($white, 0) 100%), #FBF8E1;
  border-radius: 8px;
  

    .Day {
      width: 60%;
      margin: 0;
      margin-bottom: 9.19px;
      padding: 0;
      text-align: center;
      @include text(Roboto, 700, 14px, 16.41px, 0.05em);
    }
        
    table {
      margin: 0;
      padding: 0;
      @include text(Roboto, 300, 12px, 14px, 0.05em);
      border-spacing: 20.8px 10px;
    
        td:first-child {
          text-align: right;
        }
        
        td:last-child {
          text-align: left;
        }
    }
}

.Scale {
  transform: scale(1.23);
}
