@import 'variables';

  .Cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
      

  input {
    display: none;
  }

  label {
    position: relative;
    width: 33px;
    height: 60px;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 10;
      }
    
      label:hover {
        transform: scale(1.3);
      }

 
  .arrowBack {
    margin-right: -5px;
    background-image: url("../../assets/ArrowBack.svg");
     }

  .arrowNext {
    // margin-left: -5px;
    background-image: url("../../assets/ArrowNext.svg");
       
  }
}


