.Cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  padding-right: 15px;
  padding-left: 15px;

    input {
      display: none;
    }

    label {
      display: block;
      width: 29px;
      height: 55px;
      background-repeat: no-repeat;
    }

    .arrowBack {
      background-image: url('../../assets/ArrowBack.svg');
    }

    .arrowNext {
      background-image: url('../../assets/ArrowNext.svg');
    }
  }
